<html>

<body>
	<pre>
		{{= name }}
	</pre>
	<form action="" method="post">
		<input type="text" name="name" />
		<input type="submit" />
	</form>
	<ul>
		{{=: list | map: 'name' | upcase }}

	</ul>
</body>

</html>